.stats-grid {
  display: grid;
  gap: 24px;
 
  grid-template-columns: 1fr; 
  margin-bottom: 48px; 
}


@media (min-width: 1024px) {
  .stats-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

