

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1, h2, h3 {
  font-family: var(--sans);
  font-weight: 600;
  color: var(--text-h);
  margin: 0;
}

p {
  margin: 0;
}

a {
  color: var(--text);
  text-decoration: none;
}

a:hover {
  color: var(--text-h);
}
